<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>1</key>
   <dict>
      <key>name</key>
      <string>Drifloon</string>
      <key>num</key>
      <string>1</string>
      <key>pic</key>
      <string>425MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>2</key>
   <dict>
      <key>name</key>
      <string>Drifblim</string>
      <key>num</key>
      <string>2</string>
      <key>pic</key>
      <string>426MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>3</key>
   <dict>
      <key>name</key>
      <string>Mienfoo</string>
      <key>num</key>
      <string>3</string>
      <key>pic</key>
      <string>619MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>4</key>
   <dict>
      <key>name</key>
      <string>Mienshao</string>
      <key>num</key>
      <string>4</string>
      <key>pic</key>
      <string>620MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>5</key>
   <dict>
      <key>name</key>
      <string>Zangoose</string>
      <key>num</key>
      <string>5</string>
      <key>pic</key>
      <string>335MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>6</key>
   <dict>
      <key>name</key>
      <string>Seviper</string>
      <key>num</key>
      <string>6</string>
      <key>pic</key>
      <string>336MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>7</key>
   <dict>
      <key>name</key>
      <string>Spoink</string>
      <key>num</key>
      <string>7</string>
      <key>pic</key>
      <string>325MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>8</key>
   <dict>
      <key>name</key>
      <string>Grumpig</string>
      <key>num</key>
      <string>8</string>
      <key>pic</key>
      <string>326MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>9</key>
   <dict>
      <key>name</key>
      <string>Absol</string>
      <key>num</key>
      <string>9</string>
      <key>pic</key>
      <string>359MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>10</key>
   <dict>
      <key>name</key>
      <string>Inkay</string>
      <key>num</key>
      <string>10</string>
      <key>pic</key>
      <string>686MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>11</key>
   <dict>
      <key>name</key>
      <string>Malamar</string>
      <key>num</key>
      <string>11</string>
      <key>pic</key>
      <string>687MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>12</key>
   <dict>
      <key>name</key>
      <string>Lunatone</string>
      <key>num</key>
      <string>12</string>
      <key>pic</key>
      <string>337MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>13</key>
   <dict>
      <key>name</key>
      <string>Solrock</string>
      <key>num</key>
      <string>13</string>
      <key>pic</key>
      <string>338MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>14</key>
   <dict>
      <key>name</key>
      <string>Bagon</string>
      <key>num</key>
      <string>14</string>
      <key>pic</key>
      <string>371MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>15</key>
   <dict>
      <key>name</key>
      <string>Shelgon</string>
      <key>num</key>
      <string>15</string>
      <key>pic</key>
      <string>372MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>16</key>
   <dict>
      <key>name</key>
      <string>Salamence</string>
      <key>num</key>
      <string>16</string>
      <key>pic</key>
      <string>373MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>17</key>
   <dict>
      <key>name</key>
      <string>Wingull</string>
      <key>num</key>
      <string>17</string>
      <key>pic</key>
      <string>278MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>18</key>
   <dict>
      <key>name</key>
      <string>Pelipper</string>
      <key>num</key>
      <string>18</string>
      <key>pic</key>
      <string>279MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>19</key>
   <dict>
      <key>name</key>
      <string>Taillow</string>
      <key>num</key>
      <string>19</string>
      <key>pic</key>
      <string>276MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>20</key>
   <dict>
      <key>name</key>
      <string>Swellow</string>
      <key>num</key>
      <string>20</string>
      <key>pic</key>
      <string>277MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>21</key>
   <dict>
      <key>name</key>
      <string>Binacle</string>
      <key>num</key>
      <string>21</string>
      <key>pic</key>
      <string>688MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>22</key>
   <dict>
      <key>name</key>
      <string>Barbaracle</string>
      <key>num</key>
      <string>22</string>
      <key>pic</key>
      <string>689MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>23</key>
   <dict>
      <key>name</key>
      <string>Dwebble</string>
      <key>num</key>
      <string>23</string>
      <key>pic</key>
      <string>557MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>24</key>
   <dict>
      <key>name</key>
      <string>Crustle</string>
      <key>num</key>
      <string>24</string>
      <key>pic</key>
      <string>558MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>25</key>
   <dict>
      <key>name</key>
      <string>Tentacool</string>
      <key>num</key>
      <string>25</string>
      <key>pic</key>
      <string>072MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>26</key>
   <dict>
      <key>name</key>
      <string>Tentacruel</string>
      <key>num</key>
      <string>26</string>
      <key>pic</key>
      <string>073MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>27</key>
   <dict>
      <key>name</key>
      <string>Wailmer</string>
      <key>num</key>
      <string>27</string>
      <key>pic</key>
      <string>320MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>28</key>
   <dict>
      <key>name</key>
      <string>Wailord</string>
      <key>num</key>
      <string>28</string>
      <key>pic</key>
      <string>321MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>29</key>
   <dict>
      <key>name</key>
      <string>Luvdisc</string>
      <key>num</key>
      <string>29</string>
      <key>pic</key>
      <string>370MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>30</key>
   <dict>
      <key>name</key>
      <string>Skrelp</string>
      <key>num</key>
      <string>30</string>
      <key>pic</key>
      <string>690MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>31</key>
   <dict>
      <key>name</key>
      <string>Dragalge</string>
      <key>num</key>
      <string>31</string>
      <key>pic</key>
      <string>691MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>32</key>
   <dict>
      <key>name</key>
      <string>Clauncher</string>
      <key>num</key>
      <string>32</string>
      <key>pic</key>
      <string>692MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>33</key>
   <dict>
      <key>name</key>
      <string>Clawitzer</string>
      <key>num</key>
      <string>33</string>
      <key>pic</key>
      <string>693MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>34</key>
   <dict>
      <key>name</key>
      <string>Staryu</string>
      <key>num</key>
      <string>34</string>
      <key>pic</key>
      <string>120MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>35</key>
   <dict>
      <key>name</key>
      <string>Starmie</string>
      <key>num</key>
      <string>35</string>
      <key>pic</key>
      <string>121MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>36</key>
   <dict>
      <key>name</key>
      <string>Shellder</string>
      <key>num</key>
      <string>36</string>
      <key>pic</key>
      <string>090MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>37</key>
   <dict>
      <key>name</key>
      <string>Cloyster</string>
      <key>num</key>
      <string>37</string>
      <key>pic</key>
      <string>091MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>38</key>
   <dict>
      <key>name</key>
      <string>Qwilfish</string>
      <key>num</key>
      <string>38</string>
      <key>pic</key>
      <string>211MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>39</key>
   <dict>
      <key>name</key>
      <string>Horsea</string>
      <key>num</key>
      <string>39</string>
      <key>pic</key>
      <string>116MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>40</key>
   <dict>
      <key>name</key>
      <string>Seadra</string>
      <key>num</key>
      <string>40</string>
      <key>pic</key>
      <string>117MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>41</key>
   <dict>
      <key>name</key>
      <string>Kingdra</string>
      <key>num</key>
      <string>41</string>
      <key>pic</key>
      <string>230MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>42</key>
   <dict>
      <key>name</key>
      <string>Relicanth</string>
      <key>num</key>
      <string>42</string>
      <key>pic</key>
      <string>369MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>43</key>
   <dict>
      <key>name</key>
      <string>Sandile</string>
      <key>num</key>
      <string>43</string>
      <key>pic</key>
      <string>551MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>44</key>
   <dict>
      <key>name</key>
      <string>Krokorok</string>
      <key>num</key>
      <string>44</string>
      <key>pic</key>
      <string>552MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>45</key>
   <dict>
      <key>name</key>
      <string>Krookodile</string>
      <key>num</key>
      <string>45</string>
      <key>pic</key>
      <string>553MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>46</key>
   <dict>
      <key>name</key>
      <string>Helioptile</string>
      <key>num</key>
      <string>46</string>
      <key>pic</key>
      <string>694MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>47</key>
   <dict>
      <key>name</key>
      <string>Heliolisk</string>
      <key>num</key>
      <string>47</string>
      <key>pic</key>
      <string>695MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>48</key>
   <dict>
      <key>name</key>
      <string>Hippopotas</string>
      <key>num</key>
      <string>48</string>
      <key>pic</key>
      <string>449MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>49</key>
   <dict>
      <key>name</key>
      <string>Hippowdon</string>
      <key>num</key>
      <string>49</string>
      <key>pic</key>
      <string>450MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>50</key>
   <dict>
      <key>name</key>
      <string>Rhyhorn</string>
      <key>num</key>
      <string>50</string>
      <key>pic</key>
      <string>111MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>51</key>
   <dict>
      <key>name</key>
      <string>Rhydon</string>
      <key>num</key>
      <string>51</string>
      <key>pic</key>
      <string>112MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>52</key>
   <dict>
      <key>name</key>
      <string>Rhyperior</string>
      <key>num</key>
      <string>52</string>
      <key>pic</key>
      <string>464MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>53</key>
   <dict>
      <key>name</key>
      <string>Onix</string>
      <key>num</key>
      <string>53</string>
      <key>pic</key>
      <string>095MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>54</key>
   <dict>
      <key>name</key>
      <string>Steelix</string>
      <key>num</key>
      <string>54</string>
      <key>pic</key>
      <string>208MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>55</key>
   <dict>
      <key>name</key>
      <string>Woobat</string>
      <key>num</key>
      <string>55</string>
      <key>pic</key>
      <string>527MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>56</key>
   <dict>
      <key>name</key>
      <string>Swoobat</string>
      <key>num</key>
      <string>56</string>
      <key>pic</key>
      <string>528MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>57</key>
   <dict>
      <key>name</key>
      <string>Machop</string>
      <key>num</key>
      <string>57</string>
      <key>pic</key>
      <string>066MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>58</key>
   <dict>
      <key>name</key>
      <string>Machoke</string>
      <key>num</key>
      <string>58</string>
      <key>pic</key>
      <string>067MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>59</key>
   <dict>
      <key>name</key>
      <string>Machamp</string>
      <key>num</key>
      <string>59</string>
      <key>pic</key>
      <string>068MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>60</key>
   <dict>
      <key>name</key>
      <string>Cubone</string>
      <key>num</key>
      <string>60</string>
      <key>pic</key>
      <string>104MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>61</key>
   <dict>
      <key>name</key>
      <string>Marowak</string>
      <key>num</key>
      <string>61</string>
      <key>pic</key>
      <string>105MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>62</key>
   <dict>
      <key>name</key>
      <string>Kangaskhan</string>
      <key>num</key>
      <string>62</string>
      <key>pic</key>
      <string>115MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>63</key>
   <dict>
      <key>name</key>
      <string>Mawile</string>
      <key>num</key>
      <string>63</string>
      <key>pic</key>
      <string>303MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>64</key>
   <dict>
      <key>name</key>
      <string>Tyrunt</string>
      <key>num</key>
      <string>64</string>
      <key>pic</key>
      <string>696MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>65</key>
   <dict>
      <key>name</key>
      <string>Tyrantrum</string>
      <key>num</key>
      <string>65</string>
      <key>pic</key>
      <string>697MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>66</key>
   <dict>
      <key>name</key>
      <string>Amaura</string>
      <key>num</key>
      <string>66</string>
      <key>pic</key>
      <string>698MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>67</key>
   <dict>
      <key>name</key>
      <string>Aurorus</string>
      <key>num</key>
      <string>67</string>
      <key>pic</key>
      <string>699MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>68</key>
   <dict>
      <key>name</key>
      <string>Aerodactyl</string>
      <key>num</key>
      <string>68</string>
      <key>pic</key>
      <string>142MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>69</key>
   <dict>
      <key>name</key>
      <string>Ferroseed</string>
      <key>num</key>
      <string>69</string>
      <key>pic</key>
      <string>597MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>70</key>
   <dict>
      <key>name</key>
      <string>Ferrothorn</string>
      <key>num</key>
      <string>70</string>
      <key>pic</key>
      <string>598MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>71</key>
   <dict>
      <key>name</key>
      <string>Snubbull</string>
      <key>num</key>
      <string>71</string>
      <key>pic</key>
      <string>209MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>72</key>
   <dict>
      <key>name</key>
      <string>Granbull</string>
      <key>num</key>
      <string>72</string>
      <key>pic</key>
      <string>210MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>73</key>
   <dict>
      <key>name</key>
      <string>Electrike</string>
      <key>num</key>
      <string>73</string>
      <key>pic</key>
      <string>309MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>74</key>
   <dict>
      <key>name</key>
      <string>Manectric</string>
      <key>num</key>
      <string>74</string>
      <key>pic</key>
      <string>310MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>75</key>
   <dict>
      <key>name</key>
      <string>Houndour</string>
      <key>num</key>
      <string>75</string>
      <key>pic</key>
      <string>228MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>76</key>
   <dict>
      <key>name</key>
      <string>Houndoom</string>
      <key>num</key>
      <string>76</string>
      <key>pic</key>
      <string>229MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>77</key>
   <dict>
      <key>name</key>
      <string>Eevee</string>
      <key>num</key>
      <string>77</string>
      <key>pic</key>
      <string>133MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>78</key>
   <dict>
      <key>name</key>
      <string>Vaporeon</string>
      <key>num</key>
      <string>78</string>
      <key>pic</key>
      <string>134MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>79</key>
   <dict>
      <key>name</key>
      <string>Jolteon</string>
      <key>num</key>
      <string>79</string>
      <key>pic</key>
      <string>135MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>80</key>
   <dict>
      <key>name</key>
      <string>Flareon</string>
      <key>num</key>
      <string>80</string>
      <key>pic</key>
      <string>136MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>81</key>
   <dict>
      <key>name</key>
      <string>Espeon</string>
      <key>num</key>
      <string>81</string>
      <key>pic</key>
      <string>196MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>82</key>
   <dict>
      <key>name</key>
      <string>Umbreon</string>
      <key>num</key>
      <string>82</string>
      <key>pic</key>
      <string>197MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>83</key>
   <dict>
      <key>name</key>
      <string>Leafeon</string>
      <key>num</key>
      <string>83</string>
      <key>pic</key>
      <string>470MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>84</key>
   <dict>
      <key>name</key>
      <string>Glaceon</string>
      <key>num</key>
      <string>84</string>
      <key>pic</key>
      <string>471MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>85</key>
   <dict>
      <key>name</key>
      <string>Sylveon</string>
      <key>num</key>
      <string>85</string>
      <key>pic</key>
      <string>700MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>86</key>
   <dict>
      <key>name</key>
      <string>Emolga</string>
      <key>num</key>
      <string>86</string>
      <key>pic</key>
      <string>587MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>87</key>
   <dict>
      <key>name</key>
      <string>Yanma</string>
      <key>num</key>
      <string>87</string>
      <key>pic</key>
      <string>193MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>88</key>
   <dict>
      <key>name</key>
      <string>Yanmega</string>
      <key>num</key>
      <string>88</string>
      <key>pic</key>
      <string>469MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>89</key>
   <dict>
      <key>name</key>
      <string>Hawlucha</string>
      <key>num</key>
      <string>89</string>
      <key>pic</key>
      <string>701MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>90</key>
   <dict>
      <key>name</key>
      <string>Sigilyph</string>
      <key>num</key>
      <string>90</string>
      <key>pic</key>
      <string>561MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>91</key>
   <dict>
      <key>name</key>
      <string>Golett</string>
      <key>num</key>
      <string>91</string>
      <key>pic</key>
      <string>622MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>92</key>
   <dict>
      <key>name</key>
      <string>Golurk</string>
      <key>num</key>
      <string>92</string>
      <key>pic</key>
      <string>623MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>93</key>
   <dict>
      <key>name</key>
      <string>Nosepass</string>
      <key>num</key>
      <string>93</string>
      <key>pic</key>
      <string>299MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>94</key>
   <dict>
      <key>name</key>
      <string>Probopass</string>
      <key>num</key>
      <string>94</string>
      <key>pic</key>
      <string>476MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>95</key>
   <dict>
      <key>name</key>
      <string>Makuhita</string>
      <key>num</key>
      <string>95</string>
      <key>pic</key>
      <string>296MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>96</key>
   <dict>
      <key>name</key>
      <string>Hariyama</string>
      <key>num</key>
      <string>96</string>
      <key>pic</key>
      <string>297MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>97</key>
   <dict>
      <key>name</key>
      <string>Throh</string>
      <key>num</key>
      <string>97</string>
      <key>pic</key>
      <string>538MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>98</key>
   <dict>
      <key>name</key>
      <string>Sawk</string>
      <key>num</key>
      <string>98</string>
      <key>pic</key>
      <string>539MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>99</key>
   <dict>
      <key>name</key>
      <string>Starly</string>
      <key>num</key>
      <string>99</string>
      <key>pic</key>
      <string>396MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>100</key>
   <dict>
      <key>name</key>
      <string>Staravia</string>
      <key>num</key>
      <string>100</string>
      <key>pic</key>
      <string>397MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>101</key>
   <dict>
      <key>name</key>
      <string>Staraptor</string>
      <key>num</key>
      <string>101</string>
      <key>pic</key>
      <string>398MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>102</key>
   <dict>
      <key>name</key>
      <string>Stunky</string>
      <key>num</key>
      <string>102</string>
      <key>pic</key>
      <string>434MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>103</key>
   <dict>
      <key>name</key>
      <string>Skuntank</string>
      <key>num</key>
      <string>103</string>
      <key>pic</key>
      <string>435MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>104</key>
   <dict>
      <key>name</key>
      <string>Nidoranf</string>
      <key>num</key>
      <string>104</string>
      <key>pic</key>
      <string>029MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>105</key>
   <dict>
      <key>name</key>
      <string>Nidorina</string>
      <key>num</key>
      <string>105</string>
      <key>pic</key>
      <string>030MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>106</key>
   <dict>
      <key>name</key>
      <string>Nidoqueen</string>
      <key>num</key>
      <string>106</string>
      <key>pic</key>
      <string>031MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>107</key>
   <dict>
      <key>name</key>
      <string>Nidoranm</string>
      <key>num</key>
      <string>107</string>
      <key>pic</key>
      <string>032MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>108</key>
   <dict>
      <key>name</key>
      <string>Nidorino</string>
      <key>num</key>
      <string>108</string>
      <key>pic</key>
      <string>033MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>109</key>
   <dict>
      <key>name</key>
      <string>Nidoking</string>
      <key>num</key>
      <string>109</string>
      <key>pic</key>
      <string>034MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>110</key>
   <dict>
      <key>name</key>
      <string>Dedenne</string>
      <key>num</key>
      <string>110</string>
      <key>pic</key>
      <string>702MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>111</key>
   <dict>
      <key>name</key>
      <string>Chingling</string>
      <key>num</key>
      <string>111</string>
      <key>pic</key>
      <string>433MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>112</key>
   <dict>
      <key>name</key>
      <string>Chimecho</string>
      <key>num</key>
      <string>112</string>
      <key>pic</key>
      <string>358MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>113</key>
   <dict>
      <key>name</key>
      <string>MimeJr</string>
      <key>num</key>
      <string>113</string>
      <key>pic</key>
      <string>439MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>114</key>
   <dict>
      <key>name</key>
      <string>MrMime</string>
      <key>num</key>
      <string>114</string>
      <key>pic</key>
      <string>122MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>115</key>
   <dict>
      <key>name</key>
      <string>Solosis</string>
      <key>num</key>
      <string>115</string>
      <key>pic</key>
      <string>577MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>116</key>
   <dict>
      <key>name</key>
      <string>Duosion</string>
      <key>num</key>
      <string>116</string>
      <key>pic</key>
      <string>578MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>117</key>
   <dict>
      <key>name</key>
      <string>Reuniclus</string>
      <key>num</key>
      <string>117</string>
      <key>pic</key>
      <string>579MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>118</key>
   <dict>
      <key>name</key>
      <string>Wynaut</string>
      <key>num</key>
      <string>118</string>
      <key>pic</key>
      <string>360MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>119</key>
   <dict>
      <key>name</key>
      <string>Wobbuffet</string>
      <key>num</key>
      <string>119</string>
      <key>pic</key>
      <string>202MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>120</key>
   <dict>
      <key>name</key>
      <string>Roggenrola</string>
      <key>num</key>
      <string>120</string>
      <key>pic</key>
      <string>524MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>121</key>
   <dict>
      <key>name</key>
      <string>Boldore</string>
      <key>num</key>
      <string>121</string>
      <key>pic</key>
      <string>525MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>122</key>
   <dict>
      <key>name</key>
      <string>Gigalith</string>
      <key>num</key>
      <string>122</string>
      <key>pic</key>
      <string>526MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>123</key>
   <dict>
      <key>name</key>
      <string>Sableye</string>
      <key>num</key>
      <string>123</string>
      <key>pic</key>
      <string>302MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>124</key>
   <dict>
      <key>name</key>
      <string>Carbink</string>
      <key>num</key>
      <string>124</string>
      <key>pic</key>
      <string>703MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>125</key>
   <dict>
      <key>name</key>
      <string>Tauros</string>
      <key>num</key>
      <string>125</string>
      <key>pic</key>
      <string>128MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>126</key>
   <dict>
      <key>name</key>
      <string>Miltank</string>
      <key>num</key>
      <string>126</string>
      <key>pic</key>
      <string>241MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>127</key>
   <dict>
      <key>name</key>
      <string>Mareep</string>
      <key>num</key>
      <string>127</string>
      <key>pic</key>
      <string>179MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>128</key>
   <dict>
      <key>name</key>
      <string>Flaaffy</string>
      <key>num</key>
      <string>128</string>
      <key>pic</key>
      <string>180MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>129</key>
   <dict>
      <key>name</key>
      <string>Ampharos</string>
      <key>num</key>
      <string>129</string>
      <key>pic</key>
      <string>181MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>130</key>
   <dict>
      <key>name</key>
      <string>Pinsir</string>
      <key>num</key>
      <string>130</string>
      <key>pic</key>
      <string>127MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>131</key>
   <dict>
      <key>name</key>
      <string>Heracross</string>
      <key>num</key>
      <string>131</string>
      <key>pic</key>
      <string>214MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>132</key>
   <dict>
      <key>name</key>
      <string>Pachirisu</string>
      <key>num</key>
      <string>132</string>
      <key>pic</key>
      <string>417MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>133</key>
   <dict>
      <key>name</key>
      <string>Slowpoke</string>
      <key>num</key>
      <string>133</string>
      <key>pic</key>
      <string>079MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>134</key>
   <dict>
      <key>name</key>
      <string>Slowbro</string>
      <key>num</key>
      <string>134</string>
      <key>pic</key>
      <string>080MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>135</key>
   <dict>
      <key>name</key>
      <string>Slowking</string>
      <key>num</key>
      <string>135</string>
      <key>pic</key>
      <string>199MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>136</key>
   <dict>
      <key>name</key>
      <string>Exeggcute</string>
      <key>num</key>
      <string>136</string>
      <key>pic</key>
      <string>102MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>137</key>
   <dict>
      <key>name</key>
      <string>Exeggutor</string>
      <key>num</key>
      <string>137</string>
      <key>pic</key>
      <string>103MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>138</key>
   <dict>
      <key>name</key>
      <string>Chatot</string>
      <key>num</key>
      <string>138</string>
      <key>pic</key>
      <string>441MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>139</key>
   <dict>
      <key>name</key>
      <string>Mantyke</string>
      <key>num</key>
      <string>139</string>
      <key>pic</key>
      <string>458MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>140</key>
   <dict>
      <key>name</key>
      <string>Mantine</string>
      <key>num</key>
      <string>140</string>
      <key>pic</key>
      <string>226MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>141</key>
   <dict>
      <key>name</key>
      <string>Clamperl</string>
      <key>num</key>
      <string>141</string>
      <key>pic</key>
      <string>366MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>142</key>
   <dict>
      <key>name</key>
      <string>Huntail</string>
      <key>num</key>
      <string>142</string>
      <key>pic</key>
      <string>367MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>143</key>
   <dict>
      <key>name</key>
      <string>Gorebyss</string>
      <key>num</key>
      <string>143</string>
      <key>pic</key>
      <string>368MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>144</key>
   <dict>
      <key>name</key>
      <string>Remoraid</string>
      <key>num</key>
      <string>144</string>
      <key>pic</key>
      <string>223MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>145</key>
   <dict>
      <key>name</key>
      <string>Octillery</string>
      <key>num</key>
      <string>145</string>
      <key>pic</key>
      <string>224MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>146</key>
   <dict>
      <key>name</key>
      <string>Corsola</string>
      <key>num</key>
      <string>146</string>
      <key>pic</key>
      <string>222MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>147</key>
   <dict>
      <key>name</key>
      <string>Chinchou</string>
      <key>num</key>
      <string>147</string>
      <key>pic</key>
      <string>170MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>148</key>
   <dict>
      <key>name</key>
      <string>Lanturn</string>
      <key>num</key>
      <string>148</string>
      <key>pic</key>
      <string>171MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>149</key>
   <dict>
      <key>name</key>
      <string>Alomomola</string>
      <key>num</key>
      <string>149</string>
      <key>pic</key>
      <string>594MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>150</key>
   <dict>
      <key>name</key>
      <string>Lapras</string>
      <key>num</key>
      <string>150</string>
      <key>pic</key>
      <string>131MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>151</key>
   <dict>
      <key>name</key>
      <string>Articuno</string>
      <key>num</key>
      <string>151</string>
      <key>pic</key>
      <string>144MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>152</key>
   <dict>
      <key>name</key>
      <string>Zapdos</string>
      <key>num</key>
      <string>152</string>
      <key>pic</key>
      <string>145MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
  <key>153</key>
   <dict>
      <key>name</key>
      <string>Moltres</string>
      <key>num</key>
      <string>153</string>
      <key>pic</key>
      <string>146MS.png</string>
      <key>isCaught</key>
      <false/>
   </dict>
</dict>
</plist>